.article {
    justify-items: center;
    padding: 3 auto;
}
.article1_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
    width: 60vw;
}
.coque1 {
    justify-items: center;
    border: 1px solid red;
}
.coque1 img {
    height: 35rem;
    width: 35rem;
}
.flex_coque1 {
    display: flex;
    gap: 1rem;
}
.img_coque1 img {
    height: 10rem;
    width: 10rem;
    border: 1px solid red;
}
.prix {
    justify-items: center;
    padding: 3rem;
}